@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.8452 0 0);
  --foreground: oklch(0.2393 0 0);
  --card: oklch(0.7572 0 0);
  --card-foreground: oklch(0.2393 0 0);
  --popover: oklch(0.7572 0 0);
  --popover-foreground: oklch(0.2393 0 0);
  --primary: oklch(0.4810 0.1254 23.0247);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4645 0.0572 124.7272);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.7826 0 0);
  --muted-foreground: oklch(0.4091 0 0);
  --accent: oklch(0.5845 0.0616 244.2612);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6491 0.1340 55.0855);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.4313 0 0);
  --input: oklch(0.4313 0 0);
  --ring: oklch(0.4810 0.1254 23.0247);
  --chart-1: oklch(0.4810 0.1254 23.0247);
  --chart-2: oklch(0.4645 0.0572 124.7272);
  --chart-3: oklch(0.5845 0.0616 244.2612);
  --chart-4: oklch(0.6491 0.1340 55.0855);
  --chart-5: oklch(0.5678 0.0262 41.2915);
  --sidebar: oklch(0.7572 0 0);
  --sidebar-foreground: oklch(0.2393 0 0);
  --sidebar-primary: oklch(0.4810 0.1254 23.0247);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5845 0.0616 244.2612);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4313 0 0);
  --sidebar-ring: oklch(0.4810 0.1254 23.0247);
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0px;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.20);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.20);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 10.1961% / 1.00);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2850 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2850 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.6035 0.2135 27.8103);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8337 0.0056 17.2688);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2645 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.8145 0.0655 89.5384);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.7023 0.1281 76.3352);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.4091 0 0);
  --input: oklch(0.4091 0 0);
  --ring: oklch(0.5972 0.1330 23.5970);
  --chart-1: oklch(0.5972 0.1330 23.5970);
  --chart-2: oklch(0.5931 0.0948 131.9078);
  --chart-3: oklch(0.7432 0.0769 243.0238);
  --chart-4: oklch(0.7023 0.1281 76.3352);
  --chart-5: oklch(0.6486 0.0196 39.3481);
  --sidebar: oklch(0.1913 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.5972 0.1330 23.5970);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7432 0.0769 243.0238);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.4091 0 0);
  --sidebar-ring: oklch(0.5972 0.1330 23.5970);
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0px;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.6;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 10.1961% / 0.30);
  --shadow-xs: 0px 2px 5px 0px hsl(0 0% 10.1961% / 0.30);
  --shadow-sm: 0px 2px 5px 0px hsl(0 0% 10.1961% / 0.60), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.60);
  --shadow: 0px 2px 5px 0px hsl(0 0% 10.1961% / 0.60), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.60);
  --shadow-md: 0px 2px 5px 0px hsl(0 0% 10.1961% / 0.60), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.60);
  --shadow-lg: 0px 2px 5px 0px hsl(0 0% 10.1961% / 0.60), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.60);
  --shadow-xl: 0px 2px 5px 0px hsl(0 0% 10.1961% / 0.60), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.60);
  --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 10.1961% / 1.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    @apply font-sans;
  }
}
